*.dll
*.pdb
/src/CiArtefact/*.nupkg
/src/CiArtefact
/src/CiOutput
/src/*.nupkg
/*/Debug/*
/*/Release/*
/src/packages/*
/src/ShadowBlue.LogFarm.Mvc/bin
/src/*.suo
/src/ShadowBlue.Domain.Test/bin/Release
/src/ShadowBlue.LogFarm.Domain/obj/Debug
/src/ShadowBlue.LogFarm.Mvc/obj/Debug
