*.dll
*.pdb
/src/CiArtefact/*.nupkg
/src/CiArtefact
/src/CiOutput
/src/*.nupkg
/*/Debug/*
/*/Release/*
/src/packages/*
/src/ShadowBlue.LogFarm.Mvc/bin
/src/*.suo
/src/ShadowBlue.Domain.Test/bin/Release
/src/ShadowBlue.LogFarm.Domain/obj/Debug
/src/ShadowBlue.LogFarm.Mvc/obj/Debug
/src/ShadowBlue.Repository/obj/Debug
/src/ShadowBlue.Domain.Test/bin/Debug
/src/ShadowBlue.LogFarm.Base/obj/Debug
/src/ShadowBlue.Domain.Test/obj/Debug
/src/ShadowBlue.LogFarm.Domain/bin/Debug
/src/ShadowBlue.LogFarm.Base/bin/Debug/ShadowBlue.LogFarm.Base.dll.config
/src/ShadowBlue.LogFarm.Base/bin
/src/ShadowBlue.Repository.Test/bin
/src/ShadowBlue.Repository/bin/Release
/src/ShadowBlue.LogFarm.Base/obj
/src/ShadowBlue.Domain.Test/obj
/src/ShadowBlue.LogFarm.Domain/bin
/src/ShadowBlue.LogFarm.Domain/obj
/src/ShadowBlue.LogFarm.Mvc/obj
/src/ShadowBlue.Repository.Test/obj
/src/ShadowBlue.Repository/obj
/src/ShadowBlue.LogFarm.Mvc/CiWebDeploy/*.zip
