<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kaiseki" version="1.1.1" />
  <package id="Mono.Gendarme" version="2.11.0.20121120" />
  <package id="OpenCover" version="4.5.3723" />
  <package id="psake" version="4.4.2" />
  <package id="ReportGenerator" version="2.1.4.0" />
</packages>