<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShadowBlue.LogFarm.Domain.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AWSRegion" value="us-west-1" />
  </appSettings>
  <applicationSettings>
    <ShadowBlue.LogFarm.Domain.Test.Settings>
      <setting name="ElmahTableName" serializeAs="String">
        <value>elmah-dev</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>ShadowBlue.Domain.Test</value>
      </setting>
    </ShadowBlue.LogFarm.Domain.Test.Settings>
  </applicationSettings>
</configuration>

