<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShadowBlue.Domain.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AWSRegion" value="ap-us-west-1" />
  </appSettings>
    <!--<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShadowBlue.LogFarm.Repository.Test.Properties.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ShadowBlue.LogFarm.Repository.Test.Properties.Settings.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
              <value>samstest</value>
            </setting>
            <setting name="ElmahTableName" serializeAs="String">
              <value>elmah-dev-local</value>
            </setting>
            <setting name="EnableElmahDynamoDb" serializeAs="String">
              <value>true</value>
            </setting>
        </ShadowBlue.LogFarm.Repository.Test.Properties.Settings.Properties.Settings>
    </applicationSettings>-->
  <applicationSettings>
    <ShadowBlue.Domain.Test.Settings>
      <setting name="ElmahTableName" serializeAs="String">
        <value>elmah-dev</value>
      </setting>
      <setting name="EnableElmahDynamoDb" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>ShadowBlue.Domain.Test</value>
      </setting>
    </ShadowBlue.Domain.Test.Settings>
  </applicationSettings>
</configuration>