<?xml version="1.0" encoding="utf-8" ?>
<nlog>

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="Environment"
            value="Local" />
  <variable name="ApplicationName"
            value="" />
  <variable name="LogPath"
            value="${basedir}/App_Data/nlog/" />
  <variable name="LogGroup"
            value="" />
  <variable name="ServerRole"
            value="" />
</nlog>