<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
   <extensions>
      <add assembly="ShadowBlue.LogFarm.Domain" />
   </extensions>
   <include file="${basedir}/Nlog.params.config" />
   <targets async="true">
      <target name="jsonFile" xsi:type="File" fileName="${LogPath}/${date:format=yyyy-MM-dd-HH}.log">
         <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="logger" layout="${logger}" />
            <attribute name="callsite" layout="${callsite}" />
            <attribute name="level" layout="${level:upperCase=true}" />
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception:format=tostring}" />
         </layout>
      </target>
      <target name="cloudwatchlog" xsi:type="AzureAWSCloudWatchLogTarget" LogGroup="${LogGroup}" LogStreaam="${ApplicationName}" Environment="${Environment}">
         <layout xsi:type="JsonLayout">
            <attribute name="environment" Layout="${Environment}" />
            <attribute name="applicationName" Layout="${ApplicationName}" />
            <attribute name="time" layout="${longdate}" />
            <attribute name="logger" layout="${logger}" />
            <attribute name="callsite" layout="${callsite}" />
            <attribute name="level" layout="${level:upperCase=true}" />
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception:format=tostring}" />
         </layout>
      </target>
   </targets>
   <rules>
      <logger name="*" minlevel="Info" writeTo="jsonFile" />
   </rules>
</nlog>