<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <variable name="Environment"
            value="Local" />
  <variable name="ApplicationName"
            value="" />
  <variable name="LogPath"
            value="${basedir}/App_Data/nlog/" />
  <variable name="LogGroup"
            value="" />
  <!--Leave empty to Ec2MetaData for Suffix and recommend to set this something when running locally-->
  <variable name="Suffix"
            value="Local" />
</nlog>